PersonalHealthApp/PersonalHealthServices.Impl/Service References/HospitalWebService/HospitalWebServiceImpl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HospitalWebServiceImpl" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4116/HospitalWebServiceImpl.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4116/HospitalWebServiceImpl.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="HospitalWebService_GetPatient_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPatient" />
  </wsdl:message>
  <wsdl:message name="HospitalWebService_GetPatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientResponse" />
  </wsdl:message>
  <wsdl:message name="HospitalWebService_GetPatientByUsernameAndPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientByUsernameAndPassword" />
  </wsdl:message>
  <wsdl:message name="HospitalWebService_GetPatientByUsernameAndPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientByUsernameAndPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="HospitalWebService_GetPatientByEGNAndPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientByEGNAndPassword" />
  </wsdl:message>
  <wsdl:message name="HospitalWebService_GetPatientByEGNAndPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientByEGNAndPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="HospitalWebService_AddNewPatient_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewPatient" />
  </wsdl:message>
  <wsdl:message name="HospitalWebService_AddNewPatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewPatientResponse" />
  </wsdl:message>
  <wsdl:message name="HospitalWebService_GetHospital_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHospital" />
  </wsdl:message>
  <wsdl:message name="HospitalWebService_GetHospital_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHospitalResponse" />
  </wsdl:message>
  <wsdl:message name="HospitalWebService_GetAllHospitals_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllHospitals" />
  </wsdl:message>
  <wsdl:message name="HospitalWebService_GetAllHospitals_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllHospitalsResponse" />
  </wsdl:message>
  <wsdl:message name="HospitalWebService_GetDoctor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDoctor" />
  </wsdl:message>
  <wsdl:message name="HospitalWebService_GetDoctor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDoctorResponse" />
  </wsdl:message>
  <wsdl:message name="HospitalWebService_GetDoctorsByHospitalId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDoctorsByHospitalId" />
  </wsdl:message>
  <wsdl:message name="HospitalWebService_GetDoctorsByHospitalId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDoctorsByHospitalIdResponse" />
  </wsdl:message>
  <wsdl:message name="HospitalWebService_GetAllDoctors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDoctors" />
  </wsdl:message>
  <wsdl:message name="HospitalWebService_GetAllDoctors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDoctorsResponse" />
  </wsdl:message>
  <wsdl:message name="HospitalWebService_GetAllAllergies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAllergies" />
  </wsdl:message>
  <wsdl:message name="HospitalWebService_GetAllAllergies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAllergiesResponse" />
  </wsdl:message>
  <wsdl:message name="HospitalWebService_GetHospitalRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHospitalRecord" />
  </wsdl:message>
  <wsdl:message name="HospitalWebService_GetHospitalRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHospitalRecordResponse" />
  </wsdl:message>
  <wsdl:message name="HospitalWebService_GetHospitalRecordByPatientID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHospitalRecordByPatientID" />
  </wsdl:message>
  <wsdl:message name="HospitalWebService_GetHospitalRecordByPatientID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHospitalRecordByPatientIDResponse" />
  </wsdl:message>
  <wsdl:message name="HospitalWebService_GetHospitalRecordByHospitalID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHospitalRecordByHospitalID" />
  </wsdl:message>
  <wsdl:message name="HospitalWebService_GetHospitalRecordByHospitalID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHospitalRecordByHospitalIDResponse" />
  </wsdl:message>
  <wsdl:message name="HospitalWebService_GetHospitalRecordByDoctorID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHospitalRecordByDoctorID" />
  </wsdl:message>
  <wsdl:message name="HospitalWebService_GetHospitalRecordByDoctorID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHospitalRecordByDoctorIDResponse" />
  </wsdl:message>
  <wsdl:message name="HospitalWebService_GetHospitalRecordByDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHospitalRecordByDate" />
  </wsdl:message>
  <wsdl:message name="HospitalWebService_GetHospitalRecordByDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHospitalRecordByDateResponse" />
  </wsdl:message>
  <wsdl:message name="HospitalWebService_AddNewHospitalRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewHospitalRecord" />
  </wsdl:message>
  <wsdl:message name="HospitalWebService_AddNewHospitalRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewHospitalRecordResponse" />
  </wsdl:message>
  <wsdl:message name="HospitalWebService_GetVisitation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVisitation" />
  </wsdl:message>
  <wsdl:message name="HospitalWebService_GetVisitation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVisitationResponse" />
  </wsdl:message>
  <wsdl:message name="HospitalWebService_GetVisitationByPatientID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVisitationByPatientID" />
  </wsdl:message>
  <wsdl:message name="HospitalWebService_GetVisitationByPatientID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVisitationByPatientIDResponse" />
  </wsdl:message>
  <wsdl:message name="HospitalWebService_GetVisitationByHospitalID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVisitationByHospitalID" />
  </wsdl:message>
  <wsdl:message name="HospitalWebService_GetVisitationByHospitalID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVisitationByHospitalIDResponse" />
  </wsdl:message>
  <wsdl:message name="HospitalWebService_GetVisitationByDoctorID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVisitationByDoctorID" />
  </wsdl:message>
  <wsdl:message name="HospitalWebService_GetVisitationByDoctorID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVisitationByDoctorIDResponse" />
  </wsdl:message>
  <wsdl:message name="HospitalWebService_GetVisitationByDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVisitationByDate" />
  </wsdl:message>
  <wsdl:message name="HospitalWebService_GetVisitationByDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVisitationByDateResponse" />
  </wsdl:message>
  <wsdl:message name="HospitalWebService_AddNewVisitation_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewVisitation" />
  </wsdl:message>
  <wsdl:message name="HospitalWebService_AddNewVisitation_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewVisitationResponse" />
  </wsdl:message>
  <wsdl:portType name="HospitalWebService">
    <wsdl:operation name="GetPatient">
      <wsdl:input wsaw:Action="http://tempuri.org/HospitalWebService/GetPatient" message="tns:HospitalWebService_GetPatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/HospitalWebService/GetPatientResponse" message="tns:HospitalWebService_GetPatient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPatientByUsernameAndPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/HospitalWebService/GetPatientByUsernameAndPassword" message="tns:HospitalWebService_GetPatientByUsernameAndPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/HospitalWebService/GetPatientByUsernameAndPasswordResponse" message="tns:HospitalWebService_GetPatientByUsernameAndPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPatientByEGNAndPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/HospitalWebService/GetPatientByEGNAndPassword" message="tns:HospitalWebService_GetPatientByEGNAndPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/HospitalWebService/GetPatientByEGNAndPasswordResponse" message="tns:HospitalWebService_GetPatientByEGNAndPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewPatient">
      <wsdl:input wsaw:Action="http://tempuri.org/HospitalWebService/AddNewPatient" message="tns:HospitalWebService_AddNewPatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/HospitalWebService/AddNewPatientResponse" message="tns:HospitalWebService_AddNewPatient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHospital">
      <wsdl:input wsaw:Action="http://tempuri.org/HospitalWebService/GetHospital" message="tns:HospitalWebService_GetHospital_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/HospitalWebService/GetHospitalResponse" message="tns:HospitalWebService_GetHospital_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllHospitals">
      <wsdl:input wsaw:Action="http://tempuri.org/HospitalWebService/GetAllHospitals" message="tns:HospitalWebService_GetAllHospitals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/HospitalWebService/GetAllHospitalsResponse" message="tns:HospitalWebService_GetAllHospitals_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDoctor">
      <wsdl:input wsaw:Action="http://tempuri.org/HospitalWebService/GetDoctor" message="tns:HospitalWebService_GetDoctor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/HospitalWebService/GetDoctorResponse" message="tns:HospitalWebService_GetDoctor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDoctorsByHospitalId">
      <wsdl:input wsaw:Action="http://tempuri.org/HospitalWebService/GetDoctorsByHospitalId" message="tns:HospitalWebService_GetDoctorsByHospitalId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/HospitalWebService/GetDoctorsByHospitalIdResponse" message="tns:HospitalWebService_GetDoctorsByHospitalId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDoctors">
      <wsdl:input wsaw:Action="http://tempuri.org/HospitalWebService/GetAllDoctors" message="tns:HospitalWebService_GetAllDoctors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/HospitalWebService/GetAllDoctorsResponse" message="tns:HospitalWebService_GetAllDoctors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAllergies">
      <wsdl:input wsaw:Action="http://tempuri.org/HospitalWebService/GetAllAllergies" message="tns:HospitalWebService_GetAllAllergies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/HospitalWebService/GetAllAllergiesResponse" message="tns:HospitalWebService_GetAllAllergies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHospitalRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/HospitalWebService/GetHospitalRecord" message="tns:HospitalWebService_GetHospitalRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/HospitalWebService/GetHospitalRecordResponse" message="tns:HospitalWebService_GetHospitalRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHospitalRecordByPatientID">
      <wsdl:input wsaw:Action="http://tempuri.org/HospitalWebService/GetHospitalRecordByPatientID" message="tns:HospitalWebService_GetHospitalRecordByPatientID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/HospitalWebService/GetHospitalRecordByPatientIDResponse" message="tns:HospitalWebService_GetHospitalRecordByPatientID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHospitalRecordByHospitalID">
      <wsdl:input wsaw:Action="http://tempuri.org/HospitalWebService/GetHospitalRecordByHospitalID" message="tns:HospitalWebService_GetHospitalRecordByHospitalID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/HospitalWebService/GetHospitalRecordByHospitalIDResponse" message="tns:HospitalWebService_GetHospitalRecordByHospitalID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHospitalRecordByDoctorID">
      <wsdl:input wsaw:Action="http://tempuri.org/HospitalWebService/GetHospitalRecordByDoctorID" message="tns:HospitalWebService_GetHospitalRecordByDoctorID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/HospitalWebService/GetHospitalRecordByDoctorIDResponse" message="tns:HospitalWebService_GetHospitalRecordByDoctorID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHospitalRecordByDate">
      <wsdl:input wsaw:Action="http://tempuri.org/HospitalWebService/GetHospitalRecordByDate" message="tns:HospitalWebService_GetHospitalRecordByDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/HospitalWebService/GetHospitalRecordByDateResponse" message="tns:HospitalWebService_GetHospitalRecordByDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewHospitalRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/HospitalWebService/AddNewHospitalRecord" message="tns:HospitalWebService_AddNewHospitalRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/HospitalWebService/AddNewHospitalRecordResponse" message="tns:HospitalWebService_AddNewHospitalRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVisitation">
      <wsdl:input wsaw:Action="http://tempuri.org/HospitalWebService/GetVisitation" message="tns:HospitalWebService_GetVisitation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/HospitalWebService/GetVisitationResponse" message="tns:HospitalWebService_GetVisitation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVisitationByPatientID">
      <wsdl:input wsaw:Action="http://tempuri.org/HospitalWebService/GetVisitationByPatientID" message="tns:HospitalWebService_GetVisitationByPatientID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/HospitalWebService/GetVisitationByPatientIDResponse" message="tns:HospitalWebService_GetVisitationByPatientID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVisitationByHospitalID">
      <wsdl:input wsaw:Action="http://tempuri.org/HospitalWebService/GetVisitationByHospitalID" message="tns:HospitalWebService_GetVisitationByHospitalID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/HospitalWebService/GetVisitationByHospitalIDResponse" message="tns:HospitalWebService_GetVisitationByHospitalID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVisitationByDoctorID">
      <wsdl:input wsaw:Action="http://tempuri.org/HospitalWebService/GetVisitationByDoctorID" message="tns:HospitalWebService_GetVisitationByDoctorID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/HospitalWebService/GetVisitationByDoctorIDResponse" message="tns:HospitalWebService_GetVisitationByDoctorID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVisitationByDate">
      <wsdl:input wsaw:Action="http://tempuri.org/HospitalWebService/GetVisitationByDate" message="tns:HospitalWebService_GetVisitationByDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/HospitalWebService/GetVisitationByDateResponse" message="tns:HospitalWebService_GetVisitationByDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewVisitation">
      <wsdl:input wsaw:Action="http://tempuri.org/HospitalWebService/AddNewVisitation" message="tns:HospitalWebService_AddNewVisitation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/HospitalWebService/AddNewVisitationResponse" message="tns:HospitalWebService_AddNewVisitation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_HospitalWebService" type="tns:HospitalWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPatient">
      <soap:operation soapAction="http://tempuri.org/HospitalWebService/GetPatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientByUsernameAndPassword">
      <soap:operation soapAction="http://tempuri.org/HospitalWebService/GetPatientByUsernameAndPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientByEGNAndPassword">
      <soap:operation soapAction="http://tempuri.org/HospitalWebService/GetPatientByEGNAndPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewPatient">
      <soap:operation soapAction="http://tempuri.org/HospitalWebService/AddNewPatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHospital">
      <soap:operation soapAction="http://tempuri.org/HospitalWebService/GetHospital" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllHospitals">
      <soap:operation soapAction="http://tempuri.org/HospitalWebService/GetAllHospitals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDoctor">
      <soap:operation soapAction="http://tempuri.org/HospitalWebService/GetDoctor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDoctorsByHospitalId">
      <soap:operation soapAction="http://tempuri.org/HospitalWebService/GetDoctorsByHospitalId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDoctors">
      <soap:operation soapAction="http://tempuri.org/HospitalWebService/GetAllDoctors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAllergies">
      <soap:operation soapAction="http://tempuri.org/HospitalWebService/GetAllAllergies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHospitalRecord">
      <soap:operation soapAction="http://tempuri.org/HospitalWebService/GetHospitalRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHospitalRecordByPatientID">
      <soap:operation soapAction="http://tempuri.org/HospitalWebService/GetHospitalRecordByPatientID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHospitalRecordByHospitalID">
      <soap:operation soapAction="http://tempuri.org/HospitalWebService/GetHospitalRecordByHospitalID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHospitalRecordByDoctorID">
      <soap:operation soapAction="http://tempuri.org/HospitalWebService/GetHospitalRecordByDoctorID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHospitalRecordByDate">
      <soap:operation soapAction="http://tempuri.org/HospitalWebService/GetHospitalRecordByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewHospitalRecord">
      <soap:operation soapAction="http://tempuri.org/HospitalWebService/AddNewHospitalRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVisitation">
      <soap:operation soapAction="http://tempuri.org/HospitalWebService/GetVisitation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVisitationByPatientID">
      <soap:operation soapAction="http://tempuri.org/HospitalWebService/GetVisitationByPatientID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVisitationByHospitalID">
      <soap:operation soapAction="http://tempuri.org/HospitalWebService/GetVisitationByHospitalID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVisitationByDoctorID">
      <soap:operation soapAction="http://tempuri.org/HospitalWebService/GetVisitationByDoctorID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVisitationByDate">
      <soap:operation soapAction="http://tempuri.org/HospitalWebService/GetVisitationByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewVisitation">
      <soap:operation soapAction="http://tempuri.org/HospitalWebService/AddNewVisitation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HospitalWebServiceImpl">
    <wsdl:port name="BasicHttpBinding_HospitalWebService" binding="tns:BasicHttpBinding_HospitalWebService">
      <soap:address location="http://localhost:4116/HospitalWebServiceImpl.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>